@import "tailwindcss";

:root {
  --background: #14171C;
  --foreground: #ffffff;
  --card-bg: #1E2127;
  --card-border: #333B45;
  --input-bg: #0B0C0E;
  --input-border: #333B45;
  --text-muted: #64748B;
  --text-light: #E2E8F0;
  --button-bg: #F8FAFC;
  --button-text: #14171C;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card-bg: var(--card-bg);
  --color-card-border: var(--card-border);
  --color-input-bg: var(--input-bg);
  --color-input-border: var(--input-border);
  --color-text-muted: var(--text-muted);
  --color-text-light: var(--text-light);
  --color-button-bg: var(--button-bg);
  --color-button-text: var(--button-text);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
